# Node.js dependencies
node_modules/

# Environment variables (important for security)
.env

# Build files and output directories
dist/
build/


# Editor settings (VS Code, JetBrains, etc.)
.vscode/
.idea/

# System-specific files
.DS_Store  # macOS
Thumbs.db  # Windows
